{% extends "base.html" %}
{% block title %}Админ-панель{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="mb-4">
    <nav class="nav nav-pills event-tabs">
      <a data-type="all" class="nav-link event-tab me-3 {% if section == 'dashboard' %}active{% endif %}" href="/admin-panel/">🏠 Главная</a>
      <a data-type="all" class="nav-link event-tab me-3 {% if section == 'students' %}active{% endif %}" href="/admin-panel/students/">👨‍🎓 Ученики</a>
      <a data-type="all" class="nav-link event-tab me-3 {% if section == 'teachers' %}active{% endif %}" href="/admin-panel/teachers/">👨‍🏫 Учителя</a>
      <a data-type="all" class="nav-link event-tab me-3 {% if section == 'classes' %}active{% endif %}" href="/admin-panel/classes/">🏫 Классы</a>
      <a data-type="all" class="nav-link event-tab me-3 {% if section == 'subjects' %}active{% endif %}" href="/admin-panel/subjects/">📚 Предметы</a>
      <a data-type="all" class="nav-link event-tab me-3 {% if section == 'topics' %}active{% endif %}" href="/admin-panel/topics/">🧩 Темы</a>
      <a data-type="all" class="nav-link event-tab me-3 {% if section == 'subtopics' %}active{% endif %}" href="/admin-panel/subtopics/">🔹 Подтемы</a>
      <a data-type="all" class="nav-link event-tab me-3 {% if section == 'questions' %}active{% endif %}" href="/admin-panel/questions/">❓ Вопросы</a>
    </nav>
  </div>

  {% block admin_content %}{% endblock %}
</div>
{% endblock %}
