{% extends "adminpanel/base_admin.html" %}
{% block admin_content %}
<h2>Классы</h2>

<a href="{% url 'admin_add_class' %}" class="btn btn-success mb-3">Добавить класс</a>

<table class="custom-table table-striped shadow-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Ученики</th>
            <th>Учителя</th>
            <th width="200px">Управление</th>
        </tr>
    </thead>
    <tbody>
        {% for c in classes %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.students.count }}</td>
            <td>{{ c.teachers.count }}</td>
            <td>
                <a class="btn btn-sm btn-primary" href="/admin-panel/classes/{{ c.id }}/assign-students/">Ученики</a>
                <a class="btn btn-sm btn-secondary" href="/admin-panel/classes/{{ c.id }}/assign-teachers/">Учителя</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
