{% extends "base.html" %}
{% block title %}Выдать ДЗ — {{ school_class.name }}{% endblock %}

{% block content %}
  <div class="container mt-4" style="max-width: 600px;">

    <h2 class="mb-4">Выдать ДЗ классу {{ school_class.name }}</h2>

    <form method="post" class="card p-4 shadow-sm rounded-3">
      {% csrf_token %}

      <div class="mb-3">
        <label class="form-label">Предмет</label>
        <select id="subjectSelect" name="subject_id" class="form-select" required>
          <option value="" selected disabled>Выберите предмет</option>
          {% for s in subjects %}
            <option value="{{ s.id }}">{{ s.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Урок</label>
        <select id="lessonSelect" name="lesson_id" class="form-select" required>
          <option value="" selected disabled>Сначала выберите предмет</option>
        </select>
      </div>

      <div class="mb-4">
        <label class="form-label">Название задания</label>
        <input type="text" name="title" class="form-control"
               placeholder="Например: Тест по теме «Линзы»" required>
      </div>

      <div class="mb-4">
        <label class="form-label">Количество вопросов</label>
        <input type="text" name="question_count" class="form-control"
               placeholder="Например: 10" required>
      </div>

      <div class="mb-4">
        <label class="form-label">Дедлайн</label>
        <input type="datetime-local" name="deadline" class="form-control">
      </div>


      <div class="d-flex gap-2">
        <button class="btn btn-primary flex-grow-1">Назначить</button>
        <a href="{% url 'class_journal' school_class.id %}" class="btn btn-outline-secondary flex-grow-1">
          Отмена
        </a>
      </div>
    </form>

  </div>

  <script>
      document.getElementById("subjectSelect").addEventListener("change", async function () {
          const subjectId = this.value;
          const topicSelect = document.getElementById("lessonSelect");

          topicSelect.innerHTML = "<option>Загрузка...</option>";

          const response = await fetch(`/get_lessons_by_subject/?subject_id=${subjectId}`);
          const data = await response.json();

          topicSelect.innerHTML = "";

          // if code 404
          if (response.status === 404) {
              topicSelect.innerHTML = "<option disabled>Предмет не найден</option>";
              return;
          }

          console.log(data);

          if (data.lessons && data.lessons.length) {
              data.lessons.forEach(t => {
                  const o = document.createElement("option");
                  o.value = t.id;
                  o.textContent = t.title;
                  topicSelect.appendChild(o);
              });
          } else {
              topicSelect.innerHTML = "<option disabled>Уроки не найдены</option>";
          }
      });
  </script>
{% endblock %}
